body {
  background: #FBF9ED;
  font-family: Georgia;
}

h1 {
  font-family: Georgia;
  color: #F49C6A;
  font-size: 5em;
  text-align: center;
  padding-top: 50px;
  border: 3px solid;
}

h2 {
  font-family: Courier;
  text-transform: uppercase;
}

h3 {
  font-family: Helvetica;
  font-weight: 200;
}

p {
  font-family: Georgia;
}

nav a {
  color: #F4C7A8;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
}

ul a {
  color: #B57493;
  font-size: 1.5em;
  text-decoration: none;
}

#habitat {
  color: white;
  background-image: url(https://s3.amazonaws.com/misy350/bg-tree.jpg);
  background-size: cover;
}

.image {
  border-radius: 100%;
}

.navigation {
  border: 1px solid #F49C6A;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.navigation a {
  background: #F49C6A;
  border: 1px solid #F49C6A;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
.navigation a:hover {
  background: white;
  border: 1px solid #F49C6A;
  color: #F49C6A;
}
